<h1>Edit Order</h1>
<%= render "form" %>

<%# render partial: 'form', local: {item: @item, order: @order} %>
<%= link_to "Back", user_path(current_user.id) %>
<br />
<%= link_to "All #{@item.name}'s orders", item_orders_path(@item) %>