<h2>Listing orders</h2>
 <div class="media">
 <div class="media-body">
 <table class="table table-hover">
  <thead>
    <tr>
      <th colspan = "4"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <strong>User</strong>
      </td>
      <td>  
         <strong>Items</strong>
      </td>
      <td>
        <strong>Quantity</strong>
      </td>
      <td>
        <strong>review</strong>
      </td>

    </tr>
    <% @orders.each do |order| %>
    <tr>
      <td><%= User.find(order.user_id).name  %></td>
      <td><%= Item.find(order.item_id).name %></td>
      <td><%= order.quantity %></td>
      <td><%= order.review %></td>
    </tr>
    <% end %>
  </tbody>
 </table>
  </div>
</div>
 <br />
<%# link_to 'Back', user_path(current_user) %>