<div>
  <div style='width: 600px;margin:auto'>
   <%#  <img  style='width: 600px' src="https://miro.medium.com/max/1018/1*iAu65xDmvpVdBJgps6EDEw.png" > </div> %>
<img  style='width: 600px' src="http://res.heraldm.com/phpwas/restmb_idxmake.php?idx=142&simg=%2Fcontent%2Fimage%2F2019%2F05%2F03%2F20190503000580_0.jpg" > </div>
    
  <h2 align="center">Welcome to Best Holiday Gifts</h2>
</div>